.classes-wrapper{
	padding: 19px;
	font-size: 14px;
	margin-bottom: 20px;
}

.panel-default{
	border-radius: 1px;
}

.icon-md{
	font-size: 18px;
	line-height: 18px;
	margin: 0 5px;
	color: #666;
}

.class-name-label{
	line-height: 34px;
}

.table{
	font-size: 14px;
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

.table th{
	font-weight: 200;
}

#new-group-modal{
	margin-top: 100px;
	border-radius: 1px;
}