body {
	background-color: #fff;
	margin: 15px 2px 2px 2px;
	padding: 3px 4px 5px 4px;
}

h1.title{
	font-size: 18px;
	font-weight: bold;
	line-height: 3ex;
}

p.date{
	color: #aaa;
	margin-bottom: -6px;
}

p.summary{
	color: #3e3e3e;
	line-height: 3ex;
}

div.notice{
	padding: 0.2ex 3ex 1ex 3ex;
	margin-bottom: 5px;
	font-size: 14px;
	box-shadow: 0 0 4px 1px #aaa;
}

img{
	width: 100%;
}

a{
	color: inherit;
	text-decoration: none;
}
