.panel-default{
	border-radius: 1px;
}

table{
	color: rgb(51,51,51);
	font-size: 14px;
}

th{
	font-weight: 200;
}

.name>input{
	width: 85px;
	height: 24px;
}

.number>input{
	width: 130px;
	height: 24px;
}

.student-item-wrapper{
	padding: 19px;
	margin-bottom: 20px;
	font-family: inherit;
}